<script>
  $(function() {
    $("#translateHere").linedtextarea();
  });

</script>
<div class="col-lg-6">
  original text
</div>
<div class="col-lg-6">
  <div class="form-group row">
    <textarea class="" id="translateHere">
      translated text

    </textarea>
  </div>

</div>