<ul class="list-group">
  <% articles.each do |article| %>
      <li class="list-group-item">
        <%
          if(is_profile)
            article.user_name = ''
          end
        %>
        <span><%= link_to article.title+" "+article.user_name.to_s, show_path(id:article.tid) %></span>
        <span class="pull-right">
          <% if(!@current_user.nil?) %>
            <%= link_to 'Original Article', article %>
          <% end %>
        </span>
      </li>
  <% end %>
</ul>