<%
  if(!comments.nil?)
    JSON.parse(comments).reverse_each do |value| %>

        <div class="commentDiv container-fluid">
          <div class="commentBy">
            <img src="<%=  value['user']['avatar_url'] %>" class="commentAvator"/>
            <%=  value['user']['login'] %><span class="commentDate"> <%#= value['created_at'] %></span>
          </div>
          <div class="commentBody"><%=  value['body'] %></div>
        </div>
<%   end
   end
%>