<div class="col-lg-12 articleTitle">
<% if(!@article.url.empty?) %>
      <%=link_to @article.title, @article.url, :target => "_blank"%>
<% else %>
  <%= @article.title %>
<% end %>
</div>
<div class="col-lg-12">
<%= raw @translatedText %>
</div>

<%#= link_to 'Edit', edit_translation_path(@translation) %>
<%#= link_to 'Back', translations_path %>
