<script>
  $(function() {
    $("#translateHere").linedtextarea();
  });

</script>
<div class="col-lg-6">
  <%= @originalArticle.content %>
</div>
<div class="col-lg-6">
  <div class="form-group row">
    <textarea class="" id="translateHere">
    </textarea>
  </div>

</div>