<p id="notice"><%= notice %></p>
<div class="pgTitle">Articles</div>
<%= render 'translations/articleslist', articles: @articles, is_profile:false %>
<br>

<%= link_to 'New Article', new_article_path %>
