<p id="notice"><%= notice %></p>
<% if(!@current_user.nil?) %>
    <div id="newarticle"><%= link_to 'New Article', new_article_path, id: "" %></div>
<% end %>
<div class="pgTitle">Articles</div>
<div>

</div>
<div class="pgTitle">Translated Articles</div>
<%= render 'translations/articleslist', articles: @articles, is_profile:false %>
<br>
