<script>
  $(document).on('turbolinks:load', function(){
    var editor = new MediumEditor('#article_content');
  });
</script>
<div class="goBack">
  <%= link_to 'Back', :back %>
</div>
<div class="pgTitle">New Article</div>

<%= render 'form', article: @article %>
