/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= //require_tree .
 *= //require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.contentContainer{
  max-width: 1400px;
}
#pgContainer
{

  font-family: 'Roboto', sans-serif;
  h1
  {
   font-weight: 500; color: #666666;
  }
}
#pgHeader{
  padding-top: 20px; padding-bottom: 20px; margin-bottom: 50px;
  font-weight: 500;
  background: orangered; color: white;
  a{
    color: #fff;
  }
}
#newArticle{
  .col-form-label{
    font-weight: 500;
  }
}

#translateHere,.medium-editor-element{
  width: 100%;
  min-height: 500px !important;
  word-break: break-all;
  margin-bottom: 10px;

}

.highlightOriginal
{
  background: yellow;
}
#originalArticle {

  input {
    display: none;
  }
  label {
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
  .article-content
  {
    background: #f8f8f8;
  }
}
.article-content,.medium-editor-element
{
  text-align: justify;
  padding: 10px;
}
/*
*/

.linedwrap {
  border: 1px solid #c0c0c0;
  padding: 3px;
}

.linedtextarea {
  padding: 0px;
  margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
  font-size: 10pt;
  font-family: monospace;
  line-height: normal !important;
}

.linedtextarea textarea {
  padding-right:0.3em;
  padding-top:0.3em;
  border: 0;
}

.linedwrap .lines {
  margin-top: 0px;
  width: 50px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #c0c0c0;
  margin-right: 10px;
}

.linedwrap .codelines {
  padding-top: 5px;
}

.linedwrap .codelines .lineno {
  color:#AAAAAA;
  padding-right: 0.5em;
  padding-top: 0.0em;
  text-align: right;
  white-space: nowrap;
}

.linedwrap .codelines .lineselect {
  color: red;
}
.commentDiv
{
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
  background: #f4f4f4;
  .commentBy{
    font-weight: 500;

    .commentAvator
    {
      width: 30px;
      border-radius: 3px;
      margin-right: 5px;
    }
  }
  .commentBody
  {
    margin-left: 35px;
  }

}
#comment
{
  width: 100%;
  padding: 5px;
}

#profileDivLeft
{
  font-size: 22px;
  div
  {
    padding-top: 30px;
  }
  span{
    color: #999999;
  }
  image
  {
    border-radius: 3px;
  }
}
#profileDiv>div{
  padding: 30px;
  color:#2E2F30;

}
.pgTitle
{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 10px;
  *
  {
    color: #666666;
  }
}
#headerUserInfo
{
  margin-right: 30px;
}
a {
  text-decoration: none;

}

a:hover
{

  text-decoration: none;  color: #1c2324;
}

/**/