/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body
{
  margin-bottom: 100px;
}
.list-group-item,body{
  background: #ffffff;
}
.list-group-item{
  background: rgba(44,194,252,0.03);
  margin-top: 5px;
  border: none;
  a
  {
    color:#666
  }
}
.contentContainer{
  max-width: 1400px;

}
#pgContainer
{

  font-family: 'Roboto', sans-serif;
  h1
  {
   font-weight: 500; color: #666666;
  }
}
#pgHeader{
  padding-top: 20px; padding-bottom: 20px; margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  background: #00acf1; color: white;
  a{
    color: #fff;
  }
}
#newArticle{
  .col-form-label{
    font-weight: normal;
  }
}

#translateHere,.medium-editor-element{
  width: 100%;
  word-break: break-all;
  margin-bottom: 10px;
}
#translateHere
{
  min-height: 500px !important;
}
.medium-editor-element
{
  min-height: 300px !important;
}

.highlightOriginal
{
  background: yellow;
}
#originalArticle {

  input {
    display: none;
  }
  label {
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
  #article-content
  {
    background: #f8f8f8;
  }
}
#article-content,.medium-editor-element
{
  text-align: justify;
  padding: 10px;
}
/*
*/

.linedwrap {
  border: 1px solid #c0c0c0;
  padding: 3px;
}

.linedtextarea {
  padding: 0px;
  margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
  font-size: 10pt;
  font-family: monospace;
  line-height: normal !important;
}

.linedtextarea textarea {
  padding-right:0.3em;
  padding-top:0.3em;
  border: 0;
}

.linedwrap .lines {
  margin-top: 0px;
  width: 50px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #c0c0c0;
  margin-right: 10px;
}

.linedwrap .codelines {
  padding-top: 5px;
}

.linedwrap .codelines .lineno {
  color:#AAAAAA;
  padding-right: 0.5em;
  padding-top: 0.0em;
  text-align: right;
  white-space: nowrap;
}

.linedwrap .codelines .lineselect {
  color: red;
}
.commentDiv
{

  margin-top: 10px;
  padding: 5px;
  font-size: 13px;
  .commentBy{
    font-weight: 500;

    .commentAvator
    {
      width: 30px;

      margin-right: 5px;
    }
  }
  .commentBody
  {
    margin-left: 35px;
  }

}
#comment
{
  width: 100%;
  padding: 5px;
  border:1px solid #d5d5d5 ;
}
.commentAvatar
{
  position: relative;
  img{
    width: 50px;
  }
}

#profileDivLeft
{
  font-size: 22px;
  div
  {
    padding-top: 30px;
  }
  span{
    color: #999999;
  }
  image
  {
    border-radius: 3px;
  }
}
#profileDiv>div{
  padding: 40px;
  color:#2E2F30;
  padding-left: 0px;
  padding-top: 0;
}
.pgTitle
{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 10px;color: #005e81;
  *
  {
    color: #005e81 !important;
  }
}
#headerUserInfo
{
  margin-right: 30px;
}
a {
  text-decoration: none;

}

a:hover
{

  text-decoration: none;  color: #1c2324;
  background: none;
}
#hintArea
{
  position: absolute;
  margin-left: 10px;


}
#siteHint
{

  border-radius: 3px;
  position: relative;
  background: #fff;
  padding: 10px;

}
#tipHint
{
  left:45%;
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 16px;
  border-style: solid;
  pointer-events: none;
  border-top-color: #fff;
}
#closeHint
{
  cursor: pointer;
  margin-left: 10px;
}
p, ol, ul, td {
  margin: 0px;
}

#commentArea
{
  margin-top:20px;
  .form-group
  {
    margin-left: 70px;
    position: relative;
  }
}

#actionCompelte
{
  font-size: 14px;
  text-align: center;
  position: fixed;
  top:48%;
  left:0;
  right: 0;
  z-index: 1;
  display: none;
  span{
    padding: 10px 20px;
    background: rgba(244,66,66,0.3);
    color: #2E2F30;
  }
}
.btn{
  border-radius: 1px;color: #005e81;
}
.btn:hover
{
  color: #fff;
  background: #005e81;
}
#newarticle
{
  margin: 20px 0;
}

.arrow-inner
{
  border: 7px solid #fff;
  left: 2px;
  top: 1px;
  z-index: 1;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
}
.arrow-outer {
  border: 6px solid #d5d5d5;
  left: 0;
  top: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
}
.arrow-wrapper
{
  height: 12px;
  position: absolute;
  top: 0;
  width: 12px;
  left: -12px;
  margin: 0;
}
textarea:focus, textarea:active{
  outline: none;
}
.articleaArea
{
  padding: 20px 0;
}
.goBack
{
  font-size: 13px;
  margin: 20px 0;
  background: url(back.png) no-repeat;
  background-position-x: 0;
  background-size: contain;
  padding-left: 16px;
}

#article_content
{
  display: none;
}
.displayDate
{
  font-weight: normal;
  color: #7C7C7C;
  padding-left: 15px;
  font-size: 11px;
}

.commentTitle
{
  padding-bottom: 20px;
  color: #666666;
}
/**/